<div class="link mb--3" (click)="goBack()">< Назад</div>
<app-base-spinner *ngIf="goodsService.getLoading"></app-base-spinner>
<div *ngIf="!goodsService.getLoading" class="mb--2">
  <div class="image__wrap">
    <img [src]="'http://localhost:8080/static/' + goodsService.getGood.file" class="image">
  </div>
  <h1>{{goodsService.getGood && goodsService.getGood.title}}</h1>
  <p>Группа: {{goodsService.getGood && goodsService.getGood.group}}</p>
  <p>Цена: {{goodsService.getGood && goodsService.getGood.price}}$</p>
</div>
<div class="button__group">
  <button class="form__button" (click)="editHandler()">Редактировать</button>
  <button class="form__button form__button--red form__button--margin" (click)="deleteHandler()">Удалить</button>
</div>

