.form {

  &__button--delete {
    position: absolute;
    right: -75px;
    top: 0;
    width: auto;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;

    @media (max-width: 700px) {
      right: 0;
    }
  }

  &__file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__file-wrap {
    position: relative;
    width: 50%;

    @media (max-width: 700px) {
      width: 100%;
    }
  }

  &__select {
    width: 50%;
    position: relative;

    @media (max-width: 700px) {
      width: 100%;
    }
  }

  &__options {
    z-index: 50;
    height: 180px;
    overflow-y: auto;
    border: 1px solid #E1EDF6;
    position: absolute;
    top: 70px;
    padding: 10px;
    right: 0;
    left: 0;
    background: #fff;
    cursor: pointer;
    box-shadow: -4px -4px 8px #fff, 4px 4px 8px #d1dce3, inset -4px -4px 8px transparent, inset 4px 4px 8px transparent;

    &::-webkit-scrollbar {
      width: 5px;
      background-color: #F2F6F9;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      width: 5px;
      background-color: #479cd9;
    }
  }

  &__option {
    color: #42657A;
    font-size: 16px;
    line-height: 200%;
    padding: 11px;

    &:hover,
    &:focus {
      background: #E1EDF6;
    }
  }

  &__control {
    margin-bottom: 2rem;
    width: 50%;
    outline: none;
    font-size: 16px;
    color: #828282;
    display: block;
    height: 60px;
    background-color: #edf2f6;
    box-shadow: -4px -4px 8px #fff, 4px 4px 8px #d1dce3, inset -4px -4px 8px transparent, inset 4px 4px 8px transparent;
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 0 20px;
    transition: all .3s;

    @media (max-width: 700px) {
      width: 100%;
    }

    &--wide {
      width: 100%;
      cursor: pointer;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &:hover {
      border: 2px solid #4db5fe;
    }

    &.error {
      border-color: red;
    }
  }

}
