.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  z-index: 100;
  background: linear-gradient(
      84.07deg,#4db5fe 19.97%,#43a9f0 90.11%);
  box-shadow: inset 4px 4px 8px #9fd8ff, inset -4px -4px 8px #479cd9;
  color: #f3f7fa;
  padding: 20px;
  transition: all .4s;

  &__item {
    position: relative;
  }

  &__menu--item {
    margin-bottom: 1rem;
    padding: 10px 5px;
    text-align: center;
    width: 125px;
    cursor: pointer;

    &:first-child {
      margin-top: 2rem;
    }

    &:hover,
    &.active {
      background: linear-gradient(63.66deg,#fbba12 19.97%,#ffc921 90.11%);
      border-radius: 15px 0 15px 0;
    }

    &.isauth {
      display: none;
    }
  }

  &.open {
    transform: translateX(0);
  }

  @media (max-width: 900px) {
    transform: translateX(-110%);
  }
}

