<div class="sidebar" [class.open]="getIsOpened">
  <div class="sidebar__item">
    <ul class="d-flex flex-column align-center">
      <li
        *ngFor="let item of menu; let i = index;"
        class="sidebar__menu--item"
        [class.isauth]="!authService.isAuth && (item.path === 'goods' || item.path === 'add-good')"
        [routerLink]="[item.path]"
        [class.active]="getActiveMenuName === item.path"
      >
        <a (click)="sidebarHandler()">{{item.title}}</a>
      </li>
    </ul>
  </div>
</div>
