.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  z-index: 100;
  background: #1C2834;
  color: #f3f7fa;
  padding: 20px;
  transition: all .4s;

  &__item {
    position: relative;
  }

  &__menu--item {
    margin-bottom: 1rem;
    padding: 10px 5px;
    text-align: center;
    width: 125px;
    cursor: pointer;

    &:first-child {
      margin-top: 2rem;
    }

    &:hover,
    &.active {
      background: #FBBA12;
      border-radius: 15px;
    }

    &.hidden {
      display: none;
    }
  }

  &.open {
    transform: translateX(0);
  }

  @media (max-width: 900px) {
    transform: translateX(-110%);
  }
}

