<div class="sidebar" [class.open]="getIsOpened">
  <div class="sidebar__item">
    <ul class="d-flex flex-column align-center">
      <li
        *ngFor="let item of menu; let i = index;"
        class="sidebar__menu--item"
        [class.hidden]="(!authService.isAuth &&
          authActiveMenuLink.includes(item.path)) ||
          (authService.isAuth &&
          authService.getProfile &&
          authService.getProfile.role === 'user' &&
          adminActiveMenuLink.includes(item.path))"
        [routerLink]="[item.path]"
        [class.active]="activeMenuLink === item.path"
      >
        <a (click)="sidebarHandler()">{{item.title}}</a>
      </li>
    </ul>
  </div>
</div>
