<h2 class="mb--1">Добавить группу</h2>
<form [formGroup]="form" class="form d-flex flex-column align-center">
  <input
    formControlName="name"
    class="form__control"
    [class.error]="form.touched &&  form.controls.name.errors"
    placeholder="Наименование"
  >
  <input
    formControlName="hash"
    class="form__control"
    [class.error]="form.touched && form.controls.hash.errors"
    placeholder="Хэш (на английском)">
  <button class="form__button" [class.disabled]="!form.valid" (click)="onSubmit()">Добавить</button>
</form>
